<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<br>
<hr>
<h1 style="color:red;">Talabaning batafsil ma'lumoti</h1>
<h1>{{student.id}}. Ism: <font style="color:blue;">{{student.ism}}</font></h1>
<h1>Jinsi: <font style="color:blue;">{{student.jins}}</font></h1>
<h1>Bitiruvchi: <font style="color:blue;">{{student.bitiruvchi}}</font></h1>
<h2>Kitob soni: <font style="color:blue;">{{student.kitob_soni}}</font></h2>
<br>
<br>
</body>
</html>