<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fan</title>
</head>
<body>
<form method="get" action="/fan/">
        <input type="text" name="f_soz" placeholder="Sozni kiriting...">
        <button type="submit" style="font-weight:bold;">Qidirish</button>
</form>
<br>
<h2 style="color:red;font-size:30px;display:inline;">Fanlar royhati</h2>
{% for fan in fanlar%}
<h2 style="color:green;"><span style="color:black;">{{fan.id}}.</span>{{fan}}</h2>
<a  href="/fanni_tasdiqlash/{{fan.id}}/">
    <button style="color:red;font-weight:bold;">Delete</button>
</a>
<a  href="/fan_edit/{{fan.id}}/">
    <button style="color:blue;font-weight:bold;">Edit</button>
</a>
{% endfor %}
<br>
<br>
<form action="/fan/" method="post">{% csrf_token %}
    {{ forma.as_p }}
    <button style="font-weight:bold;" type="submit">Qo'shish</button>
</form>
</body>
</html>