<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fan</title>
</head>
<body>
<h1 style="color:red;">Fan malumotlarini o'zgartiring</h1><hr>
<br>
<form method="post" action="/fan_edit/{{fan.id}}/">{% csrf_token %}
    <label style="color:red;font-weight:bold;font-size:25px;">Nom:</label>
    <input type="text" name="nomi" value="{{fan.nom}}">
    <label style="color:red;font-weight:bold;font-size:25px;">Yonalishi</label>
    <select name="yonalishi">
        {% for fan in fanlar %}
        <option value="{{fan.id}}">{{fan.nom}}</option>
        {% endfor %}
    </select>
    {% if fan.asosiy %}
        <input type="checkbox" name="fani" checked>
        {% else %}
         <input type="checkbox" name="fani">
        {% endif %}
    <button type="submit" style="color:blue;">Edit</button>
</form>
</body>
</html>