<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/muallif/">
        <input type="text" name="m_sozi" placeholder="Sozni kiriting...">
        <button type="submit" style="font-weight:bold;">Qidirish</button>
</form>
<br>
<h2 style="color:red;font-size:30px;display:inline;">Mualliflar royhati</h2>
{% for ism in ismlar%}
<h2 style="color:green;">{{ism.id}}<a href="/muallif_batafsil/{{ism.id}}" style="text-decoration:none;">. {{ism}}</a></h2>
<a  href="/muallifni_tasdiqlash/{{ism.id}}/">
    <button style="color:red;font-weight:bold;">Delete</button>
</a>
<a  href="/muallif_edit/{{ism.id}}/">
    <button style="color:blue;font-weight:bold;">Edit</button>
</a>
{% endfor %}
<br>
<br>
<form action="/muallif/" method="post">{% csrf_token %}
    {{forma.as_p}}
    <button style="font-weight:bold;" type="submit">Qo'shish</button>
</form>
<br>
</body>
</html>