<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muallif</title>
</head>
<body>
<br>
<br>
<hr>
<h1 style="color:red;">Muallifning batafsil ma'lumoti</h1>
<h1>{{muallif.id}}. Ism: <font style="color:blue;">{{muallif.ism}}</font></h1>
<h1>Tirik: <font style="color:blue;">{{muallif.tirik}}</font></h1>
<h1>Kitob soni: <font style="color:blue;">{{muallif.kitob_soni}}</font></h1>
<h2>Tugilgan yil: <font style="color:blue;">{{muallif.tugilgan_yil}}</font></h2>
<br>
<br>
</body>
</html>