<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/record/">
        <input type="text" name="r_sozi" placeholder="Ismni kiriting...">
        <button type="submit" style="font-weight:bold;">Qidirish</button>
</form>
<br>
<h2>Hamma Recordlar</h2>
{% for soz in sozlar%}
<h3 style="color:green;">{{soz.id}}. {{soz}}:</h3>
<a  href="/recordni_tasdiqlash/{{soz.id}}/">
    <button style="color:red;font-weight:bold;">Delete</button>
</a>
{% if record.qaytardi == False %}
<a  href="/record_edit/{{soz.id}}/">
    <button style="color:blue;font-weight:bold;">Edit</button>
</a>
{% endif %}
{% endfor %}

<br>
<br>
<form method="post" action="/record/">{% csrf_token %}
    {{ forma.as_p }}
    <button type="submit" style="font-weight:bold;">Qo'shish</button>
</form>
<br>
<br>
</body>
</html>